[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "StainTools"]
	path = StainTools
	url = https://github.com/Peter554/StainTools.git
[submodule "HistAuGAN"]
	path = HistAuGAN
	url = https://github.com/AndreaCamilloni/HistAuGAN.git
